{% extends "base.html" %}

{% block content %}
    <h1>Test</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.testname.label }}<br>
            {{ form.testname(size=32) }}<br>
            {% for error in form.testname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.score.label }}<br>
            {{ form.score(size=32) }}<br>
            {% for error in form.score.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}